.bold {
  font-weight: bold !important;
}
.semibold {
  font-weight: 600 !important;
}
.light {
  font-weight: 300 !important;
}
.extrabold {
  font-weight: 800 !important;
}
.normal {
  font-weight: normal !important;
}

// Font style styles
.italic {
  font-style: italic;
}

// Text decoration styles
.underline {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}

// Text transform styles
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}

.icon {
    margin: 0 8px;
    vertical-align: middle;
}

